# Built & Output Files
*.apk
*.ap_
*.aab
*.dex
*.dm
/build/
build/
/captures/
captures/
release/
app/release/
**/output-metadata.json

# Gradle & Local Config
.gradle/
local.properties
/local.properties
ijMapper_local.gradle

# Android Studio & IntelliJ
.idea/
*.iml
.externalNativeBuild/
.cxx/

# OS files
.DS_Store
Thumbs.db

